# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/

# Model files
*.pt
*.pth
*.onnx

# Large datasets
data/raw/
data/processed/
data/dataset/

# Training outputs
runs/
outputs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db